
#expire_user_date_on_dd,
#expire_user_date_on_hrs,
#expire_user_date_on_min {
	width: 30px;
}

#expire_user_date_in_num,
#expire_user_date_on_yyyy {
	width: 40px;
}

.expire-user-expired {
	color: #a00;
}

/**
 * Expire Notifications Table
 */

.wp-list-table.expire-users-notifications-table tfoot {
	display: none;
}

.wp-list-table.expire-users-notifications-table .column-active {
	text-align: center;
	white-space: nowrap;
	width: 35px;
}

.wp-list-table.expire-users-notifications-table .column-notification {
	width: 25%;
}

	.wp-list-table.expire-users-notifications-table .column-notification label {
		font-weight: bold;
	}
